#nhlPage {
    overflow-y: scroll;
}

.breadcrumb:before {
    position: relative !important;
    top: -5px !important;
    color: black !important;
}

.container-image {
    height: 180px;
}

.card-image {
    max-height: 100% !important;
}

.row .col.m0 {
    width: 0;
    height: 0;
    padding: 0;
}
