<%- include("header", {title: title}); %>

<body>
<div class="container">
	<h1 class="center-align">Home Media Server</h1>
	<div class="collection">
		<a href="#!" class="collection-item avatar">
			<div class="valign-wrapper">
				<i class="material-icons circle">folder</i>
				<h5 class="black-text">Felicia</h5>
			</div>
		</a>

		<a href="#!" class="collection-item avatar">
			<div class="valign-wrapper">
				<i class="material-icons circle ">folder</i>
				<h5 class="black-text">Nathalie</h5>
			</div>
		</a>

		<a href="/NHL" class="collection-item avatar valign-wrapper">
			<div class="valign-wrapper">
				<i class="material-icons circle red">play_arrow</i>
				<h5 class="black-text">NHL</h5>
			</div>
		</a>
	</div>
</div>


<%- include("footer"); %>
</body>

