<%- include("header", {title: title}); %>

<body>

<video id="videoPlayer" controls muted="muted">
	<source src="http://localhost:1337/src/?v=<%=res.id%>" type="video/mp4">
</video>
	<%- include("footer"); %>
</body>
